body {
  padding-top: 50px;
}
.ag-home {
  background: #0c0c56;
  color: #fff;
}
a.navbar-brand {
  padding: 0px;
}
.ag-navbar-collapse {
  font-size: 1.1em;
}
.ag-navbar-collapse button {
  margin-top: 5px;
}
