body {
  padding-top: 50px;
}
.zfa1-home {
  background: #0c0c56;
  color: #fff;
}
a.navbar-brand {
  padding: 0px;
}
.zfa1-nav {
  background: #0c0c56;
  border-color: #463265;
}
.zfa1-nav .navbar-nav > li > a {
  color: #B7D9FF;
}
.zfa1-nav .navbar-nav > li.zfa1-nav-dashboard a {
  color: #fff;
}
.zfa1-navbar-collapse {
  font-size: 1.1em;
}
.zfa1-navbar-collapse button {
  margin-top: 5px;
}
.zfa1-masthead {
  padding: 130px 15px;
  text-align: center;
}
.zfa1-masthead h1 {
  font-size: 100px;
}
.zfa1-masthead p.lead {
  color: #4b70a2;
}
.btn-outline {
  color: #ffffff;
  background-color: transparent;
  border-color: #cdbfe3;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: #563d7c;
  background-color: #fff;
  border-color: #fff;
}
.zfa1-header {
  font-size: 21px;
  text-align: left;
  padding: 10px 30px 40px;
  border-bottom: 1px solid #e5e5e5;
}
.zfa1-header h1 {
  color: #004000;
  font-size: 60px;
}
.zf1a-module-navigation {
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}
.zf1a-module-navigation span {
  padding: 5px 10px;
}
.zf1a-module-navigation .zfa1-nav-pills li > a {
  padding: 5px 10px;
}
.zfa1-sidebar {
  display: block;
}
.zfa1-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0px 1px 0px #ffffff;
  background-color: #f7f5fa;
  border-radius: 5px 5px 5px 5px;
}
.zfa1-sidebar .nav li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.zfa1-sidebar .nav .active > a,
.zfa1-sidebar .nav .active:hover > a .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}
